<div class="mainBackground">
    <app-navbar></app-navbar>
    <img src="http://localhost:3000/uploads/hatter.jpg" alt="hatter" class="bg-image">
</div>
<div class="offerwall middle">
    <div class="carousel">
        <div class="group" *ngFor="let i of [1, 2, 3]"> 
            <div class="discount-card" 
                 *ngFor="let disc of discounts" 
                 [style.background-image]="'url(' + disc.imageUrl + ')'">
                <div class="discount-overlay">
                    <div class="discount-info">
                        <span class="discount-name">{{ disc.name }}</span>
                        <span class="discount-value">-{{ disc.discountPercent }}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="categorys middle">
    <div class="category-card" 
         *ngFor="let cat of categories" 
         [style.background-image]="'url(' + cat.imageUrl + ')'">
        <div class="category-overlay">
            <span class="category-name">{{ cat.name }}</span>
        </div>
    </div>
</div>
<div class="customFooter">
    <div class="row">
        <div class="col-6">
            <p class="middle">© 2026 Minden jog fenntartva - paksiital.hu</p>
        </div>
        <div class="col-6">
            <div class="middle">
                <a  href="">ÁSZF</a>
                <span style="margin: 0 2% 0 2%;"></span>
                <a href="">Adatvédelmi tájékoztató</a>
            </div>
        </div>
    </div>
</div>
