
.nav-link.active {
  color: #0d6efd !important; 
  border-bottom: 2px solid #0d6efd;
}

.navbar{
    background-color: rgba(255, 255, 255, 0.678);
    height: 100px;
    font-size: larger;
    border-bottom: 1px solid black;
}

.nav-link:hover {
  color: #0dcaf0 !important;
  transition: 0.3s ease;
}

@media (max-width: 991px) {
  .nav-link.active {
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.1);
  }
}