<div class="mainBackground">
    <nav>
        <div class="row">
            <div class="col-3 middle">
                <img src="" alt="asd">
            </div>
            <div class="col-9 middle">
                <li class="nav-item">
                    <a class="nav-link" href="#">Terméklista</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Akciók</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Díszdobozos termékek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Galéria</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Elérhetőség</a>
                </li>
            </div>
        </div>
    </nav>
</div>
